<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/webpageStyleSheets/Menu.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Data: <%= JSON.stringify(data, null, 4) %></p>

    <script src="/javascripts/webpageJavascripts/Menu.js"></script>
  </body>
</html>
