<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/webpageStyleSheets/Show_item.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Show_item e ashchhi!</p>
    <p><%= JSON.stringify(data) %>></p>

    <script src="/javascripts/webpageJavascripts/Show_item.js"></script>
  </body>
</html>
